<%- include("templates/header") %> 
<div class="container text-center">
    <h2>Welcome, <%= username %>!</h2>
    <div class="row">
    <% for (var i = 0; i < images.length; i++) { %>
      <div class="col-12 col-md-4 mb-3 mt-5"> <!-- Each image takes 1/3 of the row -->
        <img src="<%= images[i] %>" alt="Image <%= i + 1 %>" class="img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
      </div>
    <% } %>
  </div>
</div>
<%- include("templates/footer") %> 
